@import url("styles.css");

.ta-justify {
  text-align: justify;
}

.bg-index {
  background-image: url("../img/index/background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-nuestro-servicio {
  margin-top: 2%;
}

.container-nuestro-servicio img {
  width: 100%;
}

.container-testimonios {
  margin: 2% 0% 2% 0%;
  padding: 4%;
  background-color: rgba(156, 210, 211, 0.5);
}

.container-beneficios {
  background-color: #F2E6CF;
}

.carrusel-interior {
  padding: 0% 11%;
}

.tarjeta {
  border: none;
  border-radius: 5px;
  box-shadow: 2px 6px 8px 0 rgba(74, 110, 176, 0.5);
}

.tarjeta:not(:first-child) {
  display: none;
}

.star {
  font-size: large;
  font-weight: bold;
}

.stars {
  margin: 20px 30px 0px 30px;
}

.boton-prev,
.boton-desp {
  top: 50%;
  transform: translateY(-50%);
  color: white;
}

.icono-antes,
.icono-depues {
  color: #4A6EB0;
}

.container-accordion {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2%;
}

.accordion {
  width: 100%;
  padding: 30px;
  border-radius: 30px;
}

.accordion .accordion-title {
  margin-bottom: 30px;
  text-align: center;
}

.accordion .content-container .question {
  padding: 18px 0px;
  cursor: pointer;
  border-bottom: 1px solid black;
  position: relative;
}

.accordion .content-container .question::after {
  content: '+';
  position: absolute;
  right: -5px;
}

.accordion .content-container .answer {
  padding-top: 15px;
  line-height: 1.5;
  width: 100%;
  height: 0px;
  overflow: hidden;
}

.accordion .content-container.active .answer {
  height: 100%;
  text-align: justify;
}

.accordion .content-container.active .question {
  font-size: 15px;
  transition: .5s;
}

.accordion .content-container.active .question::after {
  content: '-';
  font-size: 30px;
  transition: .3s;
}



@media (min-width: 768px) {
  .container-nuestro-servicio img {
    width: 60%;
  }

  .card-not-wrapper {
    display: flex;
  }

  .tarjeta:not(:first-child) {
    display: block;
  }

  .tarjeta {
    margin: 0.5%;
    width: calc(100% / 3);
  }

  .accordion {
    width: 65%;
  }
}