@import url('styles.css');

/*INICIO CSS RAMA LAU*/

.lenguajesImplementados h2 {
  text-align: center;
  margin-bottom: 40px;
}

.lenguajesImplementados p {
  text-align: center;
  margin-bottom: 0;
  font-size: 20px;
  justify-content: center;
  margin: 5%;
}

.main-container {
  min-height: 70vh;
  display: grid;
  place-items: center;
  margin: 50px 50px;
}

.slicer {
  height: 250px;
  margin: auto;
  position: relative;
  width: 90%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.slide-track {
  display: flex;
  width: calc(250px * 14);
  animation: scroll 40s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.slide {
  height: 200px;
  width: 250px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
}

.img-slide {
  width: 100%;
  transition: transform 1s;
}

.img-slide:hover {
  transform: translateZ(10px);
}

.slicer::before,
.slicer::after {
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}

.slicer::before {
  left: 0;
  top: 0;
}

.slicer::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

/* FIN CSS RAMA LAU*/

/* estilos nuestra historia */
.nuestra-historia {
    background-color: #9cd2d3;
    flex: 1;
}

.nuestra-historia-titulo {
    text-align: left;
    margin-left: 7%;
    margin-top: 3%;
    font-weight: bold;
    font-size: 30px;
}

.nuestra-historia-imagen-contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.nuestra-historia-imagen {
    width: 50%;
}

.nuestra-historia-info-contenedor {
    align-items: center;
}

.nuestra-historia-info {
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 20px;
}

.nuestra-historia-contenedor {

    align-items: center;
    justify-content: center;
}

/*INICIO CSS RAMA PAO*/

/*********************Conoce a nuestro equipo**************************/

.tlt-equipo {
  text-align: center;
  margin: 50px auto;
  font-size: 30px;
  font-weight: bold;
}

.card-title {
  font-weight: bold;
}

.cards-equipo {
  display: flex;
  flex-direction: row;
  width: 90%;
  padding: 10px;
  margin: 30px auto;
}

.card-equipo-img {
  margin: 30px;
  border: none !important;
}

.card-body {
  color: black !important;
  text-align: center;
}

.card-img {
  height: 100%;
}

.card-img-overlay {
  opacity: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.card-img-overlay h5 {
  font-size: 25px;
  margin-top: 50%;
}

.card-img-overlay:hover {
  opacity: 1;
}

@media (max-width: 600px) {
    .main-container {
        min-height: 40vh;
    }
}

@media (max-width: 700px) {

  .cards-equipo {
    flex-wrap: wrap;
    width: 50%;
  }

  .cards-equipo>div {
    width: 100%;
    margin-bottom: 30px;
  }

  .card-equipo-img {
    margin: 0;
  }
}

@media (min-width: 701px) and (max-width: 980px) {
  .cards-equipo {
    flex-wrap: wrap;
    width: 80%;
  }

  .cards-equipo>div {
    width: 50%;
    padding: 20px;
    border: none;
  }

  .card-equipo-img {
    margin: 0;
  }

}

@media (min-width: 768px) {
    .nuestra-historia-contenedor {
        display: flex;
    }

    .nuestra-historia-imagen-contenedor {
        order: 2;
        padding-right: 40px;
    }

    .nuestra-historia-imagen {
        width: 100%;
    }

    .main-container {
        min-height: 40vh;
    }


}

@media(max-width:768px) {
    .nuestra-historia-titulo {
        margin-top: 5%;
        margin-bottom: 5%;
    }
}

@media (min-width: 1024px) {
    .nuestra-historia-imagen-contenedor {
        padding-left: 30px;
        padding-right: 100px;
        padding-bottom: 50px;
    }
}

@media (min-width: 1200px) {
    .nuestra-historia-imagen {
        width: 80%;
    }


}

@media (min-width: 1440px) {
    .nuestra-historia-imagen {
        width: 60%;
    }

    .main-container {
        min-height: 65vh;
    }
}

/**********************end conoce a nuestro equipo*************************/

/*FIN CSS RAMA PAO*/