/*INICIO CSS RAMA CHRIS*/
*{
  outline: 1px solid red;
}
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;

}

.navbar {
    background-color: #16153D;
    color: white;    
}

.navbar-brand {
    color: white;
}

.navbar-brand:hover {
    color: #F2E6CF;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: #F2E6CF;
}

.fs-sm-icon {
    font-size: 15px;
    text-align: center;
}

/*FIN CSS RAMA CHRIS*/

/*INICIO CSS RAMA LAU*/
/* -----LENGUAJES IMPLEMENTADOS----- */
.lenguajesImplementados h2{
  text-align: center;
  margin-bottom: 40px;
}   
.lenguajesImplementados p{
  text-align: center;
  margin-bottom: 0;
}  
.main-container {
  min-height: 70vh;
  display: grid;
  place-items: center;
  margin:50px 50px;
}

.slicer {
  height: 250px;
  margin: auto;
  position: relative;
  width: 90%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.slide-track {
  display: flex;
  width: calc(250px * 14);
  animation: scroll 40s linear infinite;
}

@keyframes scroll {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(calc(-250px * 7));
  }
}

.slide {
  height: 200px;
  width: 250px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
}

.img-slide {
  width: 100%;
  transition: transform 1s;
}

.img-slide:hover {
  transform: translateZ(10px);
}
.slicer::before,
.slicer::after {
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}

.slicer::before {
  left: 0;
  top: 0;
}

.slicer::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

/* FIN LENGUAJES IMPLEMENTADOS */
/* FIN CSS RAMA LAU*/

/*INCIO CSS RAMA LIZ*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Roboto&display=swap');
/* resetear estilos globales */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}
/* estilos nuestra historia */
.nuestra-historia {
    background-color: #9cd2d3;
    flex: 1; 
}

.nuestra-historia-titulo {
    text-align: left;
    padding: 40px 20px;
    font-weight: bold;
}

.nuestra-historia-imagen-contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.nuestra-historia-imagen {
    width: 50%;
}

.nuestra-historia-info-contenedor {
    align-items: center;
}

.nuestra-historia-info {
    text-align: justify;
    padding: 0px 40px 0px 40px;
}

/* estilos pie de pagina */

footer{
    bottom: 0;
    width: 100%;
}

.brand-container{
    width: 100%;
    text-align: center;
    background-color: #4a6eb0;
}

.footer-iconos{
    background-color: #16153D;
    display: flex;
    justify-content: center;
}

.footer-info-contenedor{
    background-color: #4a6eb0;
    display: flex;
    justify-content: space-around;
    padding-bottom: 8px;
}

.footer-info{
    margin-bottom: 0 !important;
    padding-top: 8px;
}

/* media queries */
@media (max-width: 600px) {
    .footer-info-contenedor{
        display: block;
        
    }
    .footer-info-contenedor p {
        align-items: center !important;
        text-align: center !important;
        justify-content: center !important;
    }
    .main-container {
      min-height: 40vh;
    }
    
}

@media (min-width: 768px) {
    .nuestra-historia-contenedor {
        display: flex;
        justify-content: space-around;
    }

    .nuestra-historia-imagen-contenedor {
        order: 2;
        padding-right: 40px;
        padding-bottom: 50px;
    }

    .nuestra-historia-imagen {
        width: 100%;
    }
    .main-container {
      min-height: 40vh;
    }
}


@media (min-width: 1024px) {
    .nuestra-historia-titulo {
        padding: 40px 80px;
    }

    .nuestra-historia-info {
        text-align: justify;
        padding-left: 100px;
        padding-right: 100px;
    }

    .nuestra-historia-imagen-contenedor {
        padding-left: 30px;
        padding-right: 100px;
        padding-bottom: 50px;
    }
    .footer-info-contenedor{
        padding-left: 350px;
        padding-right: 350px;
    }
}

@media (min-width: 1200px) {
    .nuestra-historia-imagen {
        width: 80%;
    }

    .nuestra-historia-info {
        padding-top: 50px;
    }
}

@media (min-width: 1440px) {
    .nuestra-historia-imagen {
        width: 60%;
    }

    .nuestra-historia-info {
        padding-top: 100px;
    }
    .main-container {
      min-height: 65vh;
    }
}
/*FIN CSS RAMA LIZ*/

/*INICIO CSS RAMA PAO*/

/*********************Conoce a nuestro equipo**************************/

.tlt-equipo{
  text-align: center;
  margin: 50px auto;
  font-size: 30px;
  font-weight: bold;;
}
.card-title{
  font-weight: bold;
}
.cards-equipo{
  display: flex;
  flex-direction: row;
  width: 90%;
  padding: 10px;
  margin: 30px auto;  
}
.card-equipo-img{
  margin: 30px;
  border: none !important; 
}
.card-body{
  color: black !important;
  text-align: center;
}

.card-img{
  height: 100%;
}
.card-img-overlay{
  opacity: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
}
.card-img-overlay h5{
  font-size: 25px;
  margin-top: 50%;
}
.card-img-overlay:hover{
  opacity: 1;
}
@media (max-width: 700px) {
  
  .cards-equipo{
      flex-wrap: wrap;
      width: 50%;
  }
  .cards-equipo > div {
      width: 100%;
      margin-bottom: 30px;
  }
  .card-equipo-img{
      margin: 0;
  }
}
@media (min-width: 701px) and (max-width: 980px) {
  .cards-equipo{
      flex-wrap: wrap;
      width: 80%;
  }
  .cards-equipo > div {
      width: 50%;
      padding:20px;
      border: none;
  }
  .card-equipo-img{  
      margin: 0;
  }
  
}

/**********************end conoce a nuestro equipo*************************/

/*FIN CSS RAMA PAO*/