/*INICIO CSS RAMA CHRIS*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.navbar {
    background-color: #16153D;
    color: white;
}

.navbar-brand {
    color: white;
}

.navbar-brand:hover {
    color: #F2E6CF;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: #F2E6CF;
}

.fs-sm-icon {
    font-size: 15px;
    text-align: center;
}

/* estilos pie de pagina */

footer {
    bottom: 0;
    width: 100%;
}

.brand-container {
    width: 100%;
    text-align: center;
    background-color: #4a6eb0;
}

.footer-iconos {
    background-color: #16153D;
    display: flex;
    justify-content: center;
}

.footer-info-contenedor {
    background-color: #4a6eb0;
    display: flex;
    justify-content: space-around;
    padding-bottom: 8px;
}

.footer-info {
    margin-bottom: 0 !important;
    padding-top: 8px;
    color: white;
}

/* media queries */
@media (max-width: 600px) {
    .footer-info-contenedor {
        display: block;

    }

    .footer-info-contenedor p {
        align-items: center !important;
        text-align: center !important;
        justify-content: center !important;
    }

}

@media (min-width: 1024px) {

    .footer-info-contenedor {
        padding-left: 350px;
        padding-right: 350px;
    }
}

/*FIN CSS FOOTER*/